<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog cbd | <%= title %> </title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>cdb blog</h1></a>
            <p>created by dalius site</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About Us</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia assumenda officia magni quidem minus adipisci nulla quam rerum beatae, omnis eos delectus et natus laudantium vero. Quisquam illo deleniti possimus?</p>
        <p>Ab, error expedita. Suscipit tempore similique libero quia, cupiditate nihil earum voluptatibus dolorum corrupti harum impedit, itaque at dolor, reprehenderit cum nobis laudantium assumenda nostrum ipsum eaque labore laboriosam. Libero.</p>
        <p>Reprehenderit optio, dolores non quibusdam quasi perspiciatis architecto voluptates facere quas sit in unde, maiores ducimus atque fugiat sint, repellendus quae. Qui distinctio cum beatae in illo ut nam a.</p>
        
    </div>
</body>
</html>